/* Configuración del fondo animado */
/* Contenedor de fondo en la sección Home */
#home .background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000000, #FF0000); /* Degradado */
    overflow: hidden;
    z-index: -1; /* Asegurar que el fondo no cubra el contenido */
}

/* Divs animados */
.animate-me {
    background: linear-gradient(to top left, #556270, #F2FF00);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    mix-blend-mode: lighten;
    opacity: 0;
}

