// Mixin para transiciones
@mixin transition($properties, $duration: 0.3s, $easing: ease) {
    transition: $properties $duration $easing;
  }
  
  // Mixin para centrado
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  