nav {
    background-color: $secondary-color;
    color: white;
    padding: 10px;
  
    a {
      color: white;
      margin: 0 10px;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  

  @media (max-width: 768px) {
    nav a {
      font-size: 12px;
      padding: 5px; // Ajustar el padding para pantallas pequeñas
    }
  
    nav {
      padding: 5px;
    }
  }
  