/* Error: There is no module with the namespace "color".
 *    ,
 * 21 |         background: color.scale($primary-color, $lightness: -14.91%);
 *    |                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass/_profile.scss 21:21  @import
 *   sass/main.scss 7:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "color".\a    \2577 \a 21 \2502          background: color.scale($primary-color, $lightness: -14.91%);\a    \2502                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass/_profile.scss 21:21  @import\a   sass/main.scss 7:9        root stylesheet';
}
